<div class="container">
  <h1>Lista Comandancias</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Código Postal</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let comandancia of comandancias">
      <td>{{ comandancia.nombre }}</td>
      <td>{{ comandancia.direccion }}</td>
      <td>{{ comandancia.codigoPostal }}</td>
      <button type="submit" class="btn btn-success" (click)="goAltaComandancia()">editar</button>
    </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button type="submit" class="btn btn-success" (click)="goAltaComandancia()">Alta Comandancia</button>
  </div>
</div>
